<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Customer</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <button type="button" class="btn btn-primary" (click)="btnAddModal()" data-toggle="modal">
              Add <i class="fa fa-plus"></i>
            </button>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Customer Info</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <div class="card-body header-border">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="hostelID">Hostel</label>
                    <select class="form-control" id="hostelID" (change)="getRoom($event.target.value)"
                      [(ngModel)]="hostelID">
                      <option value="0" disabled>-- Select hostel --</option>
                      <option *ngFor="let item of hostelData" value="{{item._id}}">
                        {{item.name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="hostelID">Room</label>
                    <select class="form-control" id="roomID" (change)="getCustomer($event.target.value)"
                      [(ngModel)]="roomID">
                      <option value="0" disabled>-- Select room --</option>
                      <option *ngFor="let item of roomData" value="{{item._id}}">
                        {{item.name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                      <label for="chkDue">Active</label>
                      <input type="checkbox" class="form-check-input" id="chkDue"
                          [(ngModel)]="chkActive" (change)="getCheckOutCustomer($event.target.checked)">
                  </div>
              </div>
              </div>
            </div>
            <div class="card-body">
              <table class="table table-striped" [svData]="customerData" #sv="svDataTable" [svRowsOnPage]="10"
                svSortOrder="desc" svSortBy="createdDate">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>
                      <sv-default-sorter by="firstName">Name</sv-default-sorter>
                    </th>
                    <th>Contact Number</th>
                    <th>Father Name</th>
                    <th>Family Number</th>
                    <th>
                      <sv-default-sorter by="createdDate">Created Date</sv-default-sorter>
                    </th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of sv.data; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{ item.firstName + ' '+ item.lastName }}</td>
                    <td>{{ item.customerNo }}</td>
                    <td>{{ item.fatherName }}</td>
                    <td>{{ item.familyContactNo }}</td>
                    <td>{{ item.createdDate | date :'dd-MM-yyyy' }}</td>
                    <td>
                      <i class="fa fa-edit" title="Edit" (click)="editCustomer(item)"></i>
                      <i class="fa fa-trash" data-toggle="modal" (click)="deleteModal(item)"></i>
                    </td>
                  </tr>
                  <tr *ngIf="!customerData || customerData.length<1">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>No data available</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4">
                      <sv-bootstrap-paginator [rowsOnPageSet]="[10, 25]">
                      </sv-bootstrap-paginator>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
</div>

<!-- Modals -->
<div class="backdrop" [style.display]="modalBackDrop ? 'block' :'none' "></div>
<div class="modal-backdrop show" [style.display]="modalBackDrop ? 'block' :'none' "></div>
<div class="modal" role="dialog" tabindex="-1" id="modal-add" [style.display]="modalAddUpdate ? 'block' :'none' ">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{lblAddModalTitle}} Customer</h4>
        <button type="button" class="close" (click)="btnCloseModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" [formGroup]="customerForm">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <!-- input value for customer -->
                  <input type="hidden" formControlName='_id'>
                  <label for="hostelID">Hostel</label><span>*</span>
                  <select class="form-control" id="hostelID" formControlName='hostelID'
                    (change)="getRoom($event.target.value)"
                    [ngClass]="{'is-invalid' : customerForm.controls.hostelID.value=='0' && isSubmit}">
                    <option value="0" disabled>-- Select hostel --</option>
                    <option *ngFor="let item of hostelData" value="{{item._id}}">
                      {{item.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="roomID">Room</label><span>*</span>
                  <select class="form-control" id="roomID" formControlName='roomID'
                    [ngClass]="{'is-invalid' : customerForm.controls.roomID.value=='0' && isSubmit}">
                    <option value="0" disabled>-- Select room --</option>
                    <option *ngFor="let item of roomData" value="{{item._id}}">
                      {{item.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="firstName">First Name</label><span>*</span>
                  <input type="text" class="form-control" id="firstName" formControlName='firstName' name="firstName"
                  [ngClass]="{'is-invalid' : customerForm.controls.firstName.invalid && isSubmit}" placeholder="Enter first name" autofocus autocomplete="off" maxlength="15">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lastName">Last Name</label><span>*</span>
                  <input type="text" class="form-control" id="lastName" formControlName='lastName' name="lastName"
                  [ngClass]="{'is-invalid' : customerForm.controls.lastName.invalid && isSubmit}" placeholder="Enter last name" autofocus autocomplete="off" maxlength="15">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="customerNo">Contact number</label><span>*</span>
                  <input type="text" class="form-control" id="customerNo" formControlName='customerNo' name="customerNo"
                  [ngClass]="{'is-invalid' : customerForm.controls.customerNo.invalid && isSubmit}" placeholder="Enter contact Number" autofocus autocomplete="off" maxlength="10">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fatherName">Father Name</label><span>*</span>
                  <input type="text" class="form-control" id="fatherName" formControlName='fatherName' name="fatherName"
                  [ngClass]="{'is-invalid' : customerForm.controls.fatherName.invalid && isSubmit}" placeholder="Enter father name" autofocus autocomplete="off" maxlength="50">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="familyContactNo">Family contact no</label><span>*</span>
                  <input type="text" class="form-control" id="familyContactNo" formControlName='familyContactNo'
                  [ngClass]="{'is-invalid' : customerForm.controls.familyContactNo.invalid && isSubmit}" name="familyContactNo" placeholder="Enter family contact no" autofocus autocomplete="off"
                    maxlength="15">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="rentAmount">Rent per month</label><span>*</span>
                  <input type="number" class="form-control" id="rentAmount" formControlName='rentAmount'
                  [ngClass]="{'is-invalid' : customerForm.controls.rentAmount.invalid && isSubmit}" name="rentAmount" placeholder="Enter room rent" autofocus autocomplete="off" maxlength="5">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="securityAmount">Security amount</label><span>*</span>
                  <input type="number" class="form-control" id="securityAmount" formControlName='securityAmount'
                  [ngClass]="{'is-invalid' : customerForm.controls.securityAmount.invalid && isSubmit}" name="securityAmount" placeholder="Enter security amount" autofocus autocomplete="off"
                    maxlength="5">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="checkInDate">Check-In Date</label><span>*</span>
                  <input type="date" class="form-control" id="checkInDate" formControlName='checkInDate'
                  [ngClass]="{'is-invalid' : customerForm.controls.checkInDate.invalid && isSubmit}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="checkOutDate">Check-Out Date</label>
                  <input type="date" class="form-control" id="checkOutDate" formControlName='checkOutDate'>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between admin-modal">
        <button type="button" class="btn btn-primary modal-button" (click)="addUpdateHostel()">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal" id="modal-delete" [style.display]="modalDelete ? 'block' :'none' ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Customer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="btnCloseDeleteModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure?</p>
      </div>
      <div class="modal-footer justify-content-between admin-modal">
        <button type="button" class="btn btn-danger modal-button" (click)="confirmDelete()">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<ngx-spinner></ngx-spinner>