/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table i{
    cursor: pointer;
}
.admin-modal{
    display: inline;
}
.modal-button{
    float: right;
}
.backdrop{ 
    background-color:rgba(0,0,0,0.6);     
    position:fixed;     
    top:0;     
    left:0;     
    width:100%;     
    height:100vh;     
}
table i{
    margin-left: 5px;
}
.header-border{
    border-bottom: 1px solid rgba(0,0,0,.125);
}