<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Room</h1>
                </div>
                <div class="col-sm-6">
                    <div class="breadcrumb float-sm-right">
                        <button type="button" class="btn btn-primary" (click)="btnAddModal()" data-toggle="modal">
                            Add <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Room Info</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                            <div class="card-body header-border">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="hostelID">Hostel</label>
                                            <select class="form-control" id="hostelID" [(ngModel)]="hostelID"
                                                (change)="getRoom($event.target.value)">
                                                <option value="0" selected>-- Select hostel --</option>
                                                <option *ngFor="let item of hostelData" value="{{item._id}}">
                                                    {{item.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="card-body">
                            <table class="table table-striped" [svData]="roomData" #sv="svDataTable" [svRowsOnPage]="10"
                                svSortOrder="desc">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Name</th>
                                        <th>
                                            <sv-default-sorter by="createdDate">Created Date</sv-default-sorter>
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of sv.data; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.createdDate | date :'dd-MM-yyyy' }}</td>
                                        <td>
                                            <i class="fa fa-edit" title="Edit" (click)="editModel(item)"></i>
                                            <i class="fa fa-trash" data-toggle="modal" (click)="deleteModal(item)"></i>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!roomData || roomData.length<1">
                                        <td></td>
                                        <td></td>
                                        <td>No data available</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <sv-bootstrap-paginator [rowsOnPageSet]="[10, 25]">
                                            </sv-bootstrap-paginator>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- /.card -->

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</div>

<!-- Modals -->
<div class="backdrop" [style.display]="modalBackDrop ? 'block' :'none' "></div>
<div class="modal-backdrop show" [style.display]="modalBackDrop ? 'block' :'none' "></div>
<div class="modal" role="dialog" tabindex="-1" id="modal-add" [style.display]="modalAddUpdate ? 'block' :'none' ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{lblAddModalTitle}} Hostel</h4>
                <button type="button" class="close" (click)="btnCloseModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" [formGroup]="form">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- input value for customer -->
                                    <input type="hidden" formControlName='_id'>
                                    <label for="hostelID">Hostel</label><span>*</span>
                                    <select class="form-control" id="hostelID" formControlName='hostelID'>
                                        <option value='0' selected>-- Select hostel --</option>
                                        <option *ngFor="let item of hostelData" [ngValue]="item._id">
                                            {{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Name</label><span>*</span>
                                    <input type="text" class="form-control" id="name" formControlName='name' name="Name"
                                        placeholder="Enter room name" autofocus autocomplete="off" maxlength="15">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between admin-modal">
                <button type="button" [disabled]="!form.valid || form.value.hostelID=='0'"
                    class="btn btn-primary modal-button" (click)="addUpdateRoom()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal" id="modal-delete" [style.display]="modalDelete ? 'block' :'none' ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Hostel</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="btnCloseDeleteModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer justify-content-between admin-modal">
                <button type="button" class="btn btn-danger modal-button" (click)="deleteRoom()">Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<ngx-spinner></ngx-spinner>